<h2>Logging To Your Account</h2>

<div class="formWrapper">
    <div class="formError"></div>
    <form id="sessionCreate" action="/api/tokens" method="POST">
        <div class="inputWrap">
            <div class="inputlabel">Mobile no.</div>
            <input type="number" name="mobileno" placeholder="ex:79596596842" required>
        </div>
        <div class="inputWrap">
            <div class="inputlabel">Create Password</div>
            <input type="password" name="password" placeholder="**********" required>
        </div>
        <div class="btnWrapper">
            <button type="submit" class="laBtnBlue">Login</button>
        </div>
    </form>
</div>